<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenerateSVNFilesForSQL2005.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GenerateSVNFilesForSQL2005.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="SVNDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredProcedures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullTextIndices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Functions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Views" serializeAs="String">
                <value>True</value>
            </setting>
        </GenerateSVNFilesForSQL2005.Properties.Settings>
    </userSettings>
</configuration>